.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card{
  /* border: 2px solid black; */
  display: inline-block;
  text-align: center;
  margin: 0 14px;
  width: auto;

}
